<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--不管你用不用，项目启动就被spring初始化，并管理-->

    <!--
        一个bean相当于一个对象
        id:对象名
        class：对象全限定名
        property：给对象设置属性  name:set方法
     -->

    <bean id="userDaoImpl" class="com.larscheng.www.dao.impl.UserDaoImpl"/>
    <bean id="userDaoMysqlImpl" class="com.larscheng.www.dao.impl.UserDaoMysqlImpl"/>
    <bean id="userDaoRedisImpl" class="com.larscheng.www.dao.impl.UserDaoRedisImpl"/>

    <bean id="iocUserService" class="com.larscheng.www.service.impl.IocUserServiceImpl">
        <property name="userDao" ref="userDaoImpl"/>
    </bean>

    <bean id="iocMysqlUserService" class="com.larscheng.www.service.impl.IocUserServiceImpl">
        <property name="userDao" ref="userDaoMysqlImpl"/>
    </bean>

    <bean id="iocRedisUserService" class="com.larscheng.www.service.impl.IocUserServiceImpl">
        <property name="userDao" ref="userDaoRedisImpl"/>
    </bean>


    <!-- ioc创建对象的方式: 通过无参构造，set赋值   -->
    <bean id="demo1" class="com.larscheng.www.pojo.Demo1">
        <property name="name" value="lars"/>
        <property name="age" value="18"/>
    </bean>
    <!-- ioc创建对象的方式: 通过有参构造，参数下标   -->
    <bean id="demo2" class="com.larscheng.www.pojo.Demo2">
        <constructor-arg index="0" value="lars"/>
        <constructor-arg index="1" value="18"/>
    </bean>
    <!-- ioc创建对象的方式: 通过有参构造，参数类型   -->
    <bean id="demo3" class="com.larscheng.www.pojo.Demo2">
        <constructor-arg type="java.lang.String" value="lars"/>
        <constructor-arg type="int" value="18"/>
    </bean>
    <!-- ioc创建对象的方式: 通过有参构造，参数名   -->
    <bean id="demo4" class="com.larscheng.www.pojo.Demo2">
        <constructor-arg name="name" value="lars"/>
        <constructor-arg name="age" value="18"/>
    </bean>


</beans>