<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="son" class="com.larscheng.www.pojo.Son" p:name="xiaoming"/>
    <bean id="daughter" class="com.larscheng.www.pojo.Daughter" p:name="xiaohong"/>

    <!--    <bean id="daughter11" class="com.larscheng.www.pojo.Daughter" p:name="xiaohong"/>-->

    <!--    byname 通过bean id（必须唯一）匹配 set方法参数名-->
    <bean class="com.larscheng.www.pojo.Person" id="liming" p:name="liming" autowire="byName"/>

    <!--    bytype 通过bean class(必须唯一)匹配 set方法参数类型-->
    <bean class="com.larscheng.www.pojo.Person" id="lihua" p:name="lihua" autowire="byType"/>

</beans>