<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- bean definitions here -->

    <bean class="com.larscheng.www.aop.BeforeLog" id="beforeLog"/>
    <bean class="com.larscheng.www.aop.AfterLog" id="afterLog"/>
    <bean class="com.larscheng.www.impl.UserServiceImpl" id="userService"/>

<!--    aop配置： SpringAPI 配置复杂，但是能够更深层次操作-->
    <aop:config>
        <aop:pointcut id="p1" expression="execution(* com.larscheng.www.impl.*.*(..))"/>
        <aop:advisor advice-ref="beforeLog"  pointcut-ref="p1"/>
        <aop:advisor advice-ref="afterLog"  pointcut-ref="p1"/>
    </aop:config>
</beans>