<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larscheng.www.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.larscheng.www.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`
  </sql>

    <select id="selectUserList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>

    <insert id="insert" parameterType="user">
        insert into user(id,name ) values (#{id},#{name})
    </insert>

    <delete id="del" parameterType="int">
        delete from user where id = #{id}
    </delete>
</mapper>